img.img-thumbnail {
    width: 80%;
    height: 80%;
  }

  body {
    background-image: url('imageMarvel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3{
    background-color: black;
    color: white;
    display: inline-block;
    
}